body {
  background: linear-gradient(to bottom, #b62f2f, #a674e7);
  min-height: 100vh;
}
.App {
  max-width: 1000px;
  margin: 0 auto;
}

button {
  background-color: #a674e7;
  border-radius: 8px;
}

button:hover {
  background-color: #b62f2f;
  color: white;
}

select {
  background-color: royalblue;
}